@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{

margin:0;

padding:0;

box-sizing: border-box;

text-decoration: none;

}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

    .cabecalho{
    
    display: flex;

    position: relative;
        
    padding: 24px;
    
    }
    
    .cabecalho-imagem{
    
    width: 200px;
    
    }
    
    .cabecalho-menu{
            
    position: relative;

    top: 50px;

    left: 300px;
    
    }
    
    .menu-item-home{

        padding: 10px;

        font-weight: bold;
    
        color: #ffffff;

        background-color: rgba(24, 62, 159, 1);
        ;
        
        font-size: 20px;
        
    }

    .menu-item{

    padding: 10px;

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #000;
    
    color: #000000;
    
    font-size: 20px;
    
    }

    .menu-item-login{

        padding: 5px;
        
        border-radius: 30px;
    
        color: #000000;

        background-color: rgba(27, 156, 228, 1);
        ;
        
        font-size: 20px;
        
    }


.back-image{
    width: 100%;
    object-fit: cover;
    display: inline-block;
    position: relative;
}

.dynamic-care{
    position: absolute;
    font-size: 50px;
    top: 308px;
    left: 800px;
    color: black;
    background-color: rgba(27, 156, 228, 1);
}

.manual{
    position: absolute;
    font-size: 15px;
    top: 370px;
    left: 800px;
    color: white;
    background-color: rgba(24, 62, 159, 1);
}