@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

*{

margin:0;

padding:0;

box-sizing: border-box;

text-decoration: none;

}

body{

    font-family: 'Montserrat';
    
    }
    .cabecalho{
    
    display: flex;
    
    align-items: middle;
    
    justify-content: space-around;
    
    padding: 24px;
    
    }
    
    .cabecalho-imagem{
    
    width: 200px;
    
    }
    
    .cabecalho-menu{
    
    font-weight: bold;
    
    display: flex;
    
    gap: 60px;
    
    }
    
    .menu-item{
    
    color: #000000;
    
    font-size: 20px;
    
    }